<h2 mat-dialog-title>Informações do Médico.</h2>
<mat-dialog-content>
    <dl class="list-details">
        <dt>Id</dt>
        <dd>{{medico.id}}</dd>
        <dt>Nome</dt>
        <dd>{{medico.nome}}</dd>
        <dt>CPF</dt>
        <dd>{{medico.cpf}}</dd>
        <dt>Telefone</dt>
        <dd>{{medico.telefone}}</dd>
        <dt>Email</dt>
        <dd>{{medico.email}}</dd>
        <dt>Especialidade</dt>
        <dd>{{medico.especialidade }}</dd>        
    </dl>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-raised-button mat-dialog-close color="warn">Fechar</button>
    
</mat-dialog-actions>






