<div class="login">
    <form class="mat-elevation-z8" [formGroup]="formLogin"(ngSubmit)="logar()">
        <h1>System Medical Schedule</h1>
        <img src="assets/img/meu-projeto-login.png" alt="Login" class="full-width">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="exemplo@mail.com" formControlName="email" >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Digite sua senha" formControlName="senha">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="full-width">Login</button>
    </form>
</div>