.login {
    width: 100%;
    height: 100%;
    background: linear-gradient(36deg, rgb(193, 193, 247), 0%, rgb(141, 141, 253), 50%, rgb(176, 176, 255));

    display: flex;
    justify-content: center;
    align-items: center;
}

.login form {
    width: clamp(300px, 100%, 350px);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(184, 204, 235);
}

.login form button {
    margin-top: 15px;
}
img{
    
    border-radius: 5px;
}

