<nav-bar>
    <ng-container>
        <img src="assets/img/imagem-hospital.png" alt="Banner" class="full-width">
        Resiliência, inventividade e sobrevivência, 
        qualidades muitas vezes atribuídas a grandes médicos,
        refletem qualidades que emanam primeiro daqueles que lutam 
        contra as doenças e só então espelham aqueles que as tratam. <br>
        Eu sou um contador de histórias, para o melhor e para o pior. 
        Eu suspeito que um sentimento de contar histórias, narrativas, 
        é uma disposição humana universal, assim como nossos poderes de linguagem, 
        consciência de si e memória autobiográfica.
    </ng-container>
</nav-bar>
