<mat-drawer-container autosize>
    <mat-drawer #drawer mode="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/home">
                <mat-icon color="primary">home</mat-icon>
                Página principal
            </a>
            
            <a mat-list-item routerLink="/agendamentos">
                <mat-icon color="primary">calendar_month</mat-icon>
                Agendamentos
            </a>

            <a mat-list-item routerLink="/medicos">
                <mat-icon color="primary">person</mat-icon>
                Médicos
            </a>

            <a mat-list-item routerLink="/pacientes">
                <mat-icon color="primary">person</mat-icon>
                Pacientes
            </a>

            <a mat-list-item routerLink="/faq">
                <mat-icon color="primary">quiz</mat-icon>
                FAQ
            </a>

            <a mat-list-item routerLink="/exit">
                <mat-icon color="primary">logout</mat-icon>
                Sair
            </a>
        </mat-nav-list>
    </mat-drawer>
    
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                <h1>
                    Agenda Médica
                </h1>
            </span>
            <a href="">
                <img src="assets/img/City-Hospital-icon.png" alt="Logo">
            </a>
        </mat-toolbar>
        <div class="container">
            <ng-content></ng-content>
        </div>
    </mat-drawer-content>
</mat-drawer-container>