<h2 mat-dialog-title>Detalhes</h2>
<mat-dialog-content>
    <dl class="list-details">
        <dt>Id</dt>
        <dd>{{agendamento.id}}</dd>
        <dt>Paciente</dt>
        <dd>{{agendamento.nomePaciente}}</dd>
        <dt>Médico</dt>
        <dd>{{agendamento.nomeMedico}}</dd>
        <dt>Status</dt>
        <dd>{{agendamento.status | status}}</dd>
        <dt>Data de Abertura</dt>
        <dd>{{agendamento.horaAbertura | date}}</dd>
        <dt>Data de Fechamento</dt>
        <dd>{{agendamento.horaFechamento | date}}</dd>
        <dt>Observações</dt>
        <dd>{{agendamento.observacoes}}</dd>
        
    </dl>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-raised-button mat-dialog-close color="warn">Fechar</button>
    
</mat-dialog-actions>






