<h2 mat-dialog-title>Informações do Paciente</h2>
<mat-dialog-content>
    <dl class="list-details">
        <dt>Id</dt>
        <dd>{{paciente.id}}</dd>
        <dt>Nome</dt>
        <dd>{{paciente.nome}}</dd>
        <dt>RG</dt>
        <dd>{{paciente.rg}}</dd>
        <dt>CPF</dt>
        <dd>{{paciente.cpf}}</dd>
        <dt>Telefone</dt>
        <dd>{{paciente.telefone}}</dd>
        <dt>Email</dt>
        <dd>{{paciente.email}}</dd>
        <dt>Endereço</dt>
        <dd>{{paciente.endereco }}</dd>        
    </dl>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-raised-button mat-dialog-close color="warn">Fechar</button>
    
</mat-dialog-actions>






